.gradle/
build/
build.xml
/lib
gradle.properties
**/startup.properties
**/.mps/workspace.xml
**/.mps/shelf
classes_gen
source_gen
source_gen.caches

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
